<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Eos for Phosphorescence</title>
	<style type="text/css">
		h2 {
			color: darkred;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<h1>You probably shouldn't be here you sneaky mofo 👈😎👈</h1>
	<h2>Okay but for real there are two reasons you are here. One is you are a curious web developer. Cool. The second is someone is attempting to trick you somehow. If someone directed you to this page and told you to do stuff that you don't understand, don't listen to them. This page is a buffer origin between the real site and user-executed scripts and while I'm not sure what exactly someone might have sent you here for it's likely not with the best intentions. Don't worry, just reading this message doesn't mean anything bad has happened, but please don't follow instructions you don't understand.</h2>
</body>
</html>