@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela|Caveat|VT323');

html, body {
	margin: 0px;
	padding: 0px;
}

body {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    font-family: Montserrat;
    background-color: rgb(40, 27, 61);
}

body.appHome {
    overflow: hidden;
}

body.vividSunrise {
    background-image: url('/images/bg_small.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom -250px;
    background-color: rgb(40, 27, 61);
    background-repeat: no-repeat;
}

body.vividSunrise.iosRubberband:not(.scrollable) {
    background-image: none;
}

body.iosRubberband.scrollable canvas.bgIosCanvas {
    display: none;
}

body.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (display-mode: fullscreen) {
    body.appHome {
        height: 100vh;
    }
}

#__nuxt {
    overflow: hidden;
    padding:
        env(safe-area-inset-top, 0px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
}

canvas.bgIosCanvas {
    position: fixed;
    top: 0px;
    z-index: -100;
    pointer-events: none;
}

@media only screen and (max-width: 329px) {
    body {
        font-size: 5px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 419px) {
    body {
        font-size: 6px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 599px) and (min-height: 450px) {
    body {
        font-size: 9px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) and (min-height: 450px) {
    body {
        font-size: 11px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) and (min-height: 450px) {
    body {
        font-size: 16px;
    }
}

::selection {
	background: magenta;
}
