absl-py==0.6.1
astor==0.7.1
gast==0.2.1.post0
grpcio==1.17.1
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
numpy==1.15.1
protobuf==3.6.1
pyyaml>=4.2b1
scipy==1.2.0
six==1.11.0
tensorboard==1.12.2
tensorflow>=1.12.1
tensorflow-hub==0.1.1
tensorflowjs==0.6.7
termcolor==1.1.0
virtualenv==16.2.0
Werkzeug==0.15.3
